.back-btn {
    text-decoration: none;
    color: var(--tg-theme-button-text-color);
    text-align: center;
}

body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
