.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.img {
    width: 100%;
    background-color: black;
    height: 100px;
    margin: 0 auto;
}

.title {
    font-size: 25px;
}

.description {
    padding: 5px 0px;
    font-size: 15px;
}

.add-btn {
    margin-top: 10px;
    width: 100%;
}

.more-about-btn {
    text-decoration: none;
    color: black;
    text-align: center;
}